body {
  margin: 0;
}

.cm-red_wavy_line {
  background: url(https://try.kotlinlang.org/static/images/wavyline-red.gif)
    repeat-x 100% 100%;
  padding-bottom: 2px;
}

.gutter {
  background-color: #434649;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('img/vertical.png');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('img/horizontal.png');
  cursor: row-resize;
}
.CodeMirror {
  height: 100%;
}

html,
body {
  height: 100%;
}



.CodeMirror .ast_highlighted {
  background-color: rgba(255, 251, 0, 0.164);
}

textarea:focus,
input:focus {
  outline: none;
}

#output {
  width: 100%;
  background: #000;
  color: greenyellow;
  font-size: 2em;
  border: 0px #000;
  overflow: scroll;
  resize: none;
  flex: 1 0 auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#output::-webkit-scrollbar {
  display: none;
}
