body {
  margin: 0;
}

.cm-red_wavy_line {
  background: url(https://try.kotlinlang.org/static/images/wavyline-red.gif)
    repeat-x 100% 100%;
  padding-bottom: 2px;
}

.gutter {
  background-color: #434649;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('img/vertical.png');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('img/horizontal.png');
  cursor: row-resize;
}
.CodeMirror {
  height: 100%;
}

html,
body {
  height: 100%;
}
